#canvas{
    width: 100px;
    padding: 20px 20px;
    text-align: center;
    border: 1px solid #333;
}
#sp1{
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}
/* 
#sp1{
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
} 
.changeColor sapn{

}
这样不行   上面span渲染用id定位，下面不能用子标签定位。
*/
.changeColor #sp1{
    background: green;
}

.changeLength #sp1{
    content: '大家好';
    margin-left: 10px;
}